<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Existing User</title>
  <link rel="stylesheet" href="/css/existingUser.css">
</head>
<body>

  <div class="container">
    <h1>Account Already Exists</h1>
    <p>The account you are trying to create already exists. Please click the button below to return to the Sign Up page and use a different email address.</p>
    <form action="/auth/signup" method="GET">
      <button type="submit">Return to Sign Up</button>
    </form>
  </div>

</body>
</html>
